@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400&display=swap');


body{
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  font-family: 'Poppins', sans-serif;
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.container {
  background: #f2f3f4;
  position: absolute;
  top: 100px;
  height: 450px;
  box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 15px 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.container .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .text img{
    position: relative;
    height: 170px;
    border-radius: 50%;
  margin-bottom:10px;
}

.container .text h3{
    font-size: 40px;
    font-weight: 400;
}

.container .text p:nth-of-type(1){
    color: rgb(35, 182, 219);
    font-size: 15px;
    margin-top: -5px;
}

.container .text p:nth-of-type(2){
    margin: 10px;
    width: 90%;
    text-align: center;
}


* {box-sizing: border-box}

/* Set a style for all buttons */
button {
  background-color: #ff0000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #ff0000;
}

/* Add padding and center-align text to the container */
.container1 {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #ff0000;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}