<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="/views/add-goals/style.css">
    </head>
<body>
<header>
  <a href="home.html">
      <button>Home</button>
    </a>
  </header>

<div class="container">
  <div class="task__head task--row">YOUR GOALS (CLICK & HOLD TO REMOVE)</div>
  <form action="">
    <div class="task__list">
    <label for="task--1" class="task"><input class="task__check" type="checkbox" id="task--1" /> <div class="task__field task--row"> Drink 8 cups of water<button class="task__important"><i class="fa fa-check" aria-hidden="true"></i></button></div></label>
    <label for="task--2" class="task"><input class="task__check" type="checkbox" id="task--2" /> <div class="task__field task--row"> Read 15 pages<button class="task__important"><i class="fa fa-check" aria-hidden="true"></i></button></div></label>
    <label for="task--3" class="task"><input class="task__check" type="checkbox" id="task--3" /> <div class="task__field task--row"> Exercise for 30 minutes<button class="task__important"><i class="fa fa-check" aria-hidden="true"></i></button></div></label>
    <label for="task--4" class="task"><input class="task__check" type="checkbox" id="task--4" /> <div class="task__field task--row"> Meditate<button class="task__important"><i class="fa fa-check" aria-hidden="true"></i></button></div></label>
    </div>
      <div class="task--row task__footer">
    
    <input class="task__add" type="text" value="+ add new goal">
  </div>
  </form>
</div>

      <script src="script.js"></script>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    </body>   
</html>